@model GamersHub.Web.ViewModels.Forums.ForumCreateInputModel
@{
    ViewData["Title"] = "Create Forum";
}

<div class="text-center ">
    <h1 class="display-3">@this.ViewData["Title"]</h1>
</div>

<div class="row">
    <div class="col-md-10">
        <form asp-controller="Forums" asp-action="Create" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="@Model.Name"></label>
                <input asp-for="@Model.Name" class="form-control" />
                <span asp-validation-for="@Model.Name" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Create</button>
        </form>
    </div>
</div>