@using GamersHub.Common
@using System.Linq
@model GamersHub.Web.ViewModels.Forums.ForumIndexViewModel
@{
    ViewData["Title"] = "All Forums";
}
@if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
{
    <div class="d-inline-block">
        <a asp-controller="Forums" asp-action="Create" type="submit" class="btn btn-primary btn-lg"><i class="fa fa-plus"></i>&nbsp; New Forum</a>
    </div>
}

<div class="d-inline-block float-right">
    <a asp-controller="Posts" asp-action="Create" type="submit" class="btn btn-primary btn-lg"><i class="fa fa-plus"></i>&nbsp; New Post</a>
</div>

<div class="text-center">
    <h1 class="display-3">@this.ViewData["Title"]</h1>
</div>
<hr/>
<div class="row row-cols-1 row-cols-md-2">
    @foreach (var forum in Model.Forums
        .OrderByDescending(x => x.PostsCount)
        .ThenByDescending(x => x.ForumCategories.Count()))
    {
        @await Html.PartialAsync("_ForumsIndexPartial", forum);
    }
</div>
