@model GamersHub.Web.ViewModels.Games.GameIndexViewModel
@{
    ViewData["Title"] = "All Games";
    ViewData["Description"] = "User reviews for Video Games.";
    ViewData["Controller"] = "Games";
    ViewData["Action"] = "Index";
}

<meta name="description" content="@ViewData["Description"]"/>
<meta name="keywords" content="Video Game,Review"/>

<div class="d-inline-block float-right">
    <a asp-controller="Reviews" asp-action="Create" type="submit" class="btn btn-primary btn-lg"><i class="fa fa-plus"></i>&nbsp; New Review</a>
</div>

<div class="text-center">
    <h1 class="display-3">@this.ViewData["Title"]</h1>
</div>
<hr/>
<div class="row row-cols-1 row-cols-md-2">
    @foreach (var game in Model.Games)
    {
        <partial name="_GamesIndexPartial" model="game"/>
    }
</div>

<partial name="_PaginationPartial" model="@Model.Pagination" view-data="@ViewData"/>