@using GamersHub.Common
@model GamersHub.Web.ViewModels.Administration.Categories.CategoryAdministrationEditInputModel
@{
    ViewData["Title"] = "Edit Category";
}

@if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
{
    <div class="text-center">
        <h1 class="display-3">@this.ViewData["Title"]</h1>
    </div>
    <hr/>
    <div class="row">
        <div class="col-md-8">
            <form asp-area="Administration" asp-controller="Categories" asp-action="Edit" method="post">
                <div class="form-group">
                    <label asp-for="Category.Name"></label>
                    <input asp-for="Category.Name" class="form-control"/>
                    <span asp-validation-for="Category.Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Category.Description"></label>
                    <input asp-for="Category.Description" class="form-control"/>
                    <span asp-validation-for="Category.Description" class="text-danger"></span>
                </div>
                <hr/>
                <div class="form-group">
                    @if (Model.Forums.Length == 0)
                    {
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">The Category is in all available Forums:</h5>
                                        <ul class="list-group list-group-flush">
                                            @foreach (var category in Model.Category.CategoryForums)
                                            {
                                                <li class="list-group-item">@category.ForumName</li>
                                            }
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">You can add the Category to any of the following Forums:</h5>
                                        <ul class="list-group list-group-flush">
                                            @for (var i = 0; i < Model.Forums.Length; i++)
                                            {
                                                <li class="list-group-item">
                                                    <div class="custom-control custom-checkbox">
                                                        <input asp-for="ForumsInput[i].IsSelected" type="checkbox" class="custom-control-input"/>
                                                        <label asp-for="ForumsInput[i].IsSelected" class="custom-control-label">@Model.Forums[i].Name</label>
                                                        <span asp-validation-for="ForumsInput[i].IsSelected" class="text-danger"></span>
                                                    </div>
                                                    <div class="form-group">
                                                        <input type="hidden" name="ForumsInput[@i].Id" value="@Model.Forums[i].Id"/>
                                                    </div>
                                                </li>
                                            }
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <div class="form-group">
                    <input type="submit" value="Edit" class="btn btn-lg btn-primary"/>
                </div>
            </form>
        </div>
    </div>
}