@page
@model ConfirmEmailChangeModel
@{
    ViewData["Title"] = "Confirm email change";
}

<partial name="_StatusMessage" model="Model.StatusMessage" />

<div class="container">
     <div class="row btn-toolbar text-center" role="toolbar">
            <div class="col btn-group mr-2" role="group">
                <a asp-area="" asp-page="" asp-controller="Home" asp-action="Index" type="submit" class="btn btn-primary btn-lg">Back to Homepage</a>
            </div>
            <div class="col btn-group mr-2" role="group">
                <a asp-area="" asp-page="" asp-controller="Forums" asp-action="Index" type="submit" class="btn btn-primary btn-lg">To Forums</a>
            </div>
            <div class="col btn-group mr-2" role="group">
                <a asp-area="" asp-page="" asp-controller="Games" asp-action="Index" type="submit" class="btn btn-primary btn-lg">To Reviews</a>
            </div>
            <div class="col btn-group mr-2" role="group">
                <a asp-area="" asp-page="" asp-controller="Parties" asp-action="Index" type="submit" class="btn btn-primary btn-lg">To Parties</a>
            </div>
        </div>
</div>


