@model GamersHub.Web.ViewModels.HttpErrorViewModel
@{
    this.ViewData["Title"] = "Http Error";
}
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<div class="container">
    <div class="row">
        <div class="col text-center text-white">
            <h1 class="display-5">Oops, something went wrong.</h1>
            <h1 class="display-1 text-uppercase">Error - @Model.StatusCode</h1>
            <h1 class="display-5">@Model.Message</h1>
        </div>
    </div>
    <div class="row btn-toolbar text-center" role="toolbar">
        <div class="col btn-group mr-2" role="group">
            <a asp-controller="Home" asp-action="Index" type="submit" class="btn btn-primary btn-lg">Back to Homepage</a>
        </div>
        <div class="col btn-group mr-2" role="group">
            <a asp-controller="Forums" asp-action="Index" type="submit" class="btn btn-primary btn-lg">To Forums</a>
        </div>
        <div class="col btn-group mr-2" role="group">
            <a asp-controller="Games" asp-action="Index" type="submit" class="btn btn-primary btn-lg">To Reviews</a>
        </div>
        <div class="col btn-group mr-2" role="group">
            <a asp-controller="Parties" asp-action="Index" type="submit" class="btn btn-primary btn-lg">To Parties</a>
        </div>
    </div>
</div>