@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Personal Data";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}


<div class="row">
    <div class="col-sm-9 col-md-7 col-lg-10 mx-auto">
        <div class="card card-signin my-5">
            <div class="card-body">
                <h5 class="card-title text-center">@ViewData["Title"]</h5>
                <p class="card-text text-info text-center">
                    Your account contains personal data that you have given us. This page allows you to download or delete that data.
                </p>
                <p class="card-text text-center">
                    <strong>Deleting this data will permanently remove your account, and this cannot be recovered.</strong>
                </p>
                <form id="download-data" asp-page="DownloadPersonalData" method="post" class="form-group">
                    <button type="submit" class="btn btn-lg btn-primary btn-block">Download</button>
                </form>
                <hr class="my-4">
                <a id="delete" asp-page="DeletePersonalData" class="btn btn-lg btn-primary btn-block ">Delete</a>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}