@model GamersHub.Web.ViewModels.Categories.CategoryViewModel

<tr>
    <td>@Model.Name</td>
    <td>@Model.Description</td>
    <td>@Model.CategoryForumsCount</td>
    <td>@Model.PostsCount</td>
</tr>