@model GamersHub.Web.ViewModels.Categories.ForumCategoryViewModel
@{
    ViewData["Title"] = $"{Model.ForumCategory.ForumName} - {Model.ForumCategory.CategoryName}";
    ViewData["Description"] = "Video Game Forum with Categories for discussions.";
}
<meta name="description" content="@ViewData["Description"]"/>
<meta name="keywords" content="Game,@Model.ForumCategory.ForumName,@Model.ForumCategory.CategoryName," />

<div class="d-inline-block">
    <a asp-controller="Forums" asp-action="Index" type="submit" class="btn btn-primary btn-lg">Back to Forums</a>
</div>

<div class="d-inline-block float-right">
    <a asp-controller="Posts" asp-action="Create" type="submit" class="btn btn-primary btn-lg"><i class="fa fa-plus"></i>&nbsp; New Post</a>
</div>
<div class="d-block">
    <h2 class="display-3">@Model.ForumCategory.ForumName</h2>
    <h2>@Model.ForumCategory.CategoryName</h2>
</div>


<hr/>

<table class="table table-hover">
<thead class="thead-dark">
<tr>
    <th scope="col">Topic</th>
    <th scope="col">Author</th>
    <th scope="col">Replies</th>
    <th scope="col">Posted On</th>
</tr>
</thead>
<tbody>
 @foreach (var post in Model.CategoryPosts.OrderByDescending(x=>x.CreatedOn))
    {
        <partial name="_CategoriesByNamePartial" model="post"/>
    }
</tbody>
</table>