@using GamersHub.Common
@using System.Linq
@model GamersHub.Web.ViewModels.Categories.CategoryIndexViewModel
@{
    ViewData["Title"] = "All Categories";
}

@if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
{
    <div class="d-inline-block float-right">
        <a asp-controller="Categories" asp-action="Create" type="submit" class="btn btn-primary btn-lg">+ New Category</a>
    </div>
}
<div class="text-center ">
    <h1 class="display-3">@this.ViewData["Title"]</h1>
</div>
<hr/>
<table class="table table-hover">
    <thead class="thead-dark">
    <tr>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">Forums</th>
        <th scope="col">Posts</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var category in Model.Categories)
    {
        @await Html.PartialAsync("_CategoriesIndexPartial", category);
    }
    </tbody>
</table>
